div{
    background-color: blue;
    
   padding: 10px;
}
 
.div1{
    background-color: yellow;
    float: left;
 

}
.div2{
    background-color: violet;
}
 .div3{
     background-color:pink;
     float: right;
     
 }
